@media only screen and (min-width : 320px)  {}
@media only screen and (min-width : 480px)  {}
@media only screen and (min-width : 768px)  {}
@media only screen and (min-width : 992px)  {
  .params-form{
    &__btn{
      margin-top: 19px;
    }
  }
}
@media only screen and (min-width : 1200px) {}


@media only screen and (max-width : 1199px) {}
@media only screen and (max-width : 991px)  {}
@media only screen and (max-width : 767px)  {
  .upload{
    &__label, &__btn{
      display: block;
      width: 100%;
      text-align: center;
    }
    &__text{
      padding: 15px 0 0 0;
      display: block;
    }
  }
}
@media only screen and (max-width : 479px)  {}
