@import "vars";

body{
  background-color: $bg-color;
  font-family: $font-family;
  font-size: $font-size;
  font-weight: 300;
}

img{
  max-width: 100%;
}

label{
  font-weight: 300;
}

.btn{
  border-radius: 0;
  padding: 8px 16px;
  font-size: 18px;
  font-weight: 300;
  &--block{
    display: block;
    width: 100%;
  }
  &--blue{
    background-color: $blue;
    color: #fff;
    &:hover{
      background-color: lighten($blue, 10%);
      color: #fff;
    }
    &:active{
      background-color: darken($blue, 3%);
    }
  }
  &.focus, &:focus{
    box-shadow: none;
    color: #fff;
  }
  &.active.focus,
  &.active:focus,
  &.focus,
  &:active.focus,
  &:active:focus,
  &:focus{
    outline: none;
  }
}

.form{
  &__input{
    font-size: 18px;
    border-radius: 0;
    box-shadow: none;
    &:focus{
      box-shadow: none;
      border-color: inherit;
    }
  }
  &__helper{
    font-size: 13px;
    color: $red;
  }
}
.form-control{
  padding: 8px 16px;
  height: 38px;
}

.input-group{
  &-addon{
    border-radius: 0;
    background: none;
    border: 0;
  }
}

.main-title{
  font-size: 36px;
  text-align: center;
  padding: 15px 10px;
}

.params-form{
  padding-top: 30px;
}

.upload{
  &__text{
    display: inline-block;
    &:not(:empty){
      padding-left: 15px;
    }
    &--failed{
      color: $red;
    }
  }
  &__input{
    display: none !important;
  }
}

.result{
  position: relative;
}
.plan{
  padding-top: 15px;
  &__img {
    display: block;
    margin: 0 auto;
  }
}

.rectangle{
  display: none;
  background-color: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
}

@import "media";

